body{
    margin: 0;
    /* height: 100%; */
    /* display: flex; */
    /* background-color: rgb(24, 20, 70); */
    /* align-items: center; */
}

.title{
    text-align: center;
}

/*.trainerBody{ 
    background: 
    radial-gradient(circle, rgba(255, 255, 255, 0.2) 10%, transparent 10%), /* Dotted effect */
    /*repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.1) 0px, rgba(255, 255, 255, 0.1) 10px, transparent 10px, transparent 20px), /* Diagonal lines */
    /*linear-gradient(to right, #ff7e5f, #feb47b); /* Gradient */

/*background-size: 40px 40px, 30px 30px, cover; /* Define pattern sizes */
/*}*/



.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 15px 20px;
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #ff9800;
}

.stats{
    /* Text css */
    font-size: 22px;
    text-align: center;

    /* position css  */
    position: sticky;
    top: 0;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Keep it above other elements */
}

.answerContent{
    margin: 0;
    text-align: center;
    /* font-size: 33px; */
    position: sticky;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    padding: 0px;
    padding-bottom: 20px;
    padding-top: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Keep it above other elements */
}

#answer{
    font-size: 22px;
    border-radius: 30px;
}


.scrollable-content {
    margin:0 auto;
    width: 34%;
    overflow-y: scroll;
    height: calc(100vh - 270px);
    /* text-align: center;
    /* height: 200vh; Make the page scrollable */
    padding: 20px;
    background: linear-gradient(to bottom, #edfcff, #ebdce9);
  } 
