body{
    margin: 0;
    height: 100%;
    font-family: "Pixelify Sans", serif;
    /* height: 100%; */
    /* display: flex; */
    /* background-color: rgb(24, 20, 70); */
    /* align-items: center; */
}


/* ------------------------ General CSS ------------------------ */
.title{
    text-align: center;
    font-family: "Pixelify Sans", serif;
    font-weight: normal;
    font-size: 36px;
}


/* ------------------------ Home Page CSS ------------------------ */

#homeBody {
    background: linear-gradient(
        180deg,
        rgba(255, 228, 244, 1) 0%,
        rgba(192, 222, 255, 1) 100%
    );
    background-repeat: no-repeat;
    min-height: 100vh;
}


.directory{
    margin-top: 7%;
    text-align: center;
    /* font */
}

.directory a{
    text-decoration: none;
    color:black;
    font-size: 32px;
    font-weight: normal;
    transition: 0.3s;
}

.directory a:hover{
    color: rgba(156, 173, 206, 1);
}

#settingsButton{
    background-image: url("images\\GearIconPixelated.png");
    background-color: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 40px;
    height: 40px;
    border:none;
}

#settingsButton:hover{
    /* pointer-events: ; */
    cursor: pointer;
}




/* ------------------------ Train Math CSS ------------------------ */
.stats{
    /* Text css */
    font-size: 22px;
    text-align: center;

    /* position css  */
    position: sticky;
    top: 0;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Keep it above other elements */
}

.answerContent{
    margin: 0;
    text-align: center;
    /* font-size: 33px; */
    position: sticky;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    padding: 0px;
    padding-bottom: 20px;
    padding-top: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Keep it above other elements */
}

#answer{
    font-size: 22px;
    border-radius: 30px;
}


.scrollable-content {
    margin:0 auto;
    width: 34%;
    overflow-y: scroll;
    height: calc(100vh - 270px);
    /* text-align: center;
    /* height: 200vh; Make the page scrollable */
    padding: 20px;
    background: linear-gradient(to bottom, #edfcff, #ebdce9);
  } 


  /* ------------------------ Nav bar css ------------------------ */
.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E4E4E4;
    padding: 15px 20px;
}

.logo {
    color: black;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links a {
    font-family: "Pixelify Sans", serif;
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #9CADCE;
}